
<div class="container-form">
    <form class="form" >
        <div class="container-img">
        <img src="https://www.unibarranquilla.edu.co/images/logo.png" alt="logo unibarranquilla" class="img-fluid">
    </div>
        <div class="form-group">
            <label for="correo">Correo</label>

                <input type="email" class="form-control" name="correo" id="correo" placeholder="Email">

            
        </div>
        <div class="form-group">
            <label for="contraseña">Contraseña</label>

                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
<a routerLink="forgot" class="forgot" >Olvidastes tu contraseña</a>
            
        </div>

        <div class="form-button">
            <button type="submit" class="btn btn-primary">Login</button>

        </div>
        
    </form>
</div>
