
<div class="container-form">
    <form class="form" >
        <div class="form-group">
            <label for="correo">Correo

                <input type="email" class="form-control" name="correo" id="correo">

            </label>
        </div>
        <div class="form-group">
            <label for="contraseña">Contraseña

                <input type="password" class="form-control" name="password" id="password">

            </label>
        </div>

        <div class="container">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
