<div class="container-main">
    <div class="container">
        <form class="row" [formGroup]="contactForm" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="col-md-4 container-img ">
                <div class="container-img">
                    <img src="https://www.unibarranquilla.edu.co/images/logo.png" class="img-fluid">
                </div>
            </div>

            <div class="col-md-4 mt-2">


                <div class="form-group">

                    <label for="nombre">Nombres</label>
                    <input required class="form-control" formControlName="nombres"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('nombres')?.errors}  " type="text"
                        name="nombre" id="nombre" autocomplete="off">

                </div>
                <span class="text-danger" *ngIf="submitted && contactForm.get('nombres')?.errors">no ha cumplido el minimo de caracteres</span>

                
                <div class="form-group">
                    <label for="apellido">Apellidos</label>
                    <input class="form-control" type="text" name="apellido" id="apellido" formControlName="apellidos"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('apellidos')?.errors}  " required>

                </div>
                <span class="text-danger" *ngIf="submitted && contactForm.get('apellidos')?.errors">no ha cumplido el minimo de caracteres</span>


                <div class="form-group">
                    <label for="tipo">Tipo de documento</label>
                    <select name="tipo" formControlName="tipoDocumento" id="tipo" class="form-control"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('tipoDocumento')?.errors}  ">
                        <option selected>Tarjeta de identidad</option>
                        <option  >Cedula de ciudadania</option>
                    </select>
                    <span class="text-danger" *ngIf="submitted && contactForm.get('tipoDocumento')?.errors">no ha cumplido el minimo de caracteres</span>

                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input class="form-control" type="text" name="contraseña" id="contraseña" #password
                        formControlName="contraseña"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('contraseña')?.errors}  " required>

                </div>
                
         



            </div>
            <div class="col-md-4 mt-2">
                <div class="form-group">
                    <label for="programa">Programa perteneciente</label>
                    <select formControlName="programa" name="programa" id="programa" class="form-control">
                        <option value="">tecnico profesional en mantenimiento en sistemas informaticos</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="telefono">Numero de telefono</label>
                    <input class="form-control" type="number" name="numero" formControlName="numeroTelefono" id="numero"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('numeroTelefono')?.errors}  " required>

                </div>
              
                <span class="text-danger" *ngIf="submitted && contactForm.get('numeroTelefono')?.errors?.['maxlength']">no ha cumplido el minimo de caracteres</span>

               

                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input class="form-control" type="email" name="correo" id="correo" formControlName="correo"
                        (input)="validarCorreo()"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('correo')?.errors}  "
                        pattern="[a-zA-Z0-9._%+-]+@unibarranquilla\.edu\.co" required>

                </div>
                <span class="text-danger" *ngIf="submitted && contactForm.get('correo')?.errors">debe terminar @unibarranquilla.edu.co</span>


                <div class="form-group">
                    <label for="contraseña">Confirmar Contraseña</label>
                    <input class="form-control" type="text" name="contraseña" id="contraseña" #newPassword
                        formControlName="nuevaContraseña"
                        [ngClass]="{'is-invalid':submitted && contactForm.get('nuevaContraseña')?.errors}  " required>

                </div>
               


                <span class="text-danger" *ngIf="contactForm.get('contraseña')?.value!=contactForm.get('nuevaContraseña')?.value" >las contraseñas deben coincidir y deben tener un minimo de longitud de 7</span>

                <div class="container-button" >
                    <button type="submit" class="btn btn-primary ">Enviar</button>
                </div>
               


            </div>

        </form>

    </div>
</div>